.column, .column__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.column {
  width: 33%;
  height: 100%;
}

.column > h1 {
  font-size: 1rem;
  margin: 1rem 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.column__section {
  background-color: #f3f3f3;
  padding: 1rem;
  margin: 0.5rem;
  height: 78vh;
  overflow-y: auto;
}