.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > a, a:link,
a:hover, a:visited {
  font-weight: lighter;
  color: darkgray;
}

.login > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.login > span,
.login > label {
  font-size: 12px;
  color: darkgray;
}

.login__error {
  display: flex;
  align-items: center;
  color: red;
  height: 3rem;
  font-size: 12px;
}

.login__input {
  border: 0;
  border-bottom: 1px solid lightgray;
  color: gray;
  height: 25px;
  width: 300px;
  margin-bottom: 2rem;
  text-align: center;
}

.login__submit {
  background-color: coral;
  border: 0;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
  width: 300px;
}

.login__submit:hover {
  background-color: #e96c3e;
}